html, body {
	font-family: 'Droid', sans-serif;
}

/*backgrounds*/

.background-silver{
    background-color:#F2F3F4;
}

.background-white{
 background-color: #ffffff;
}

.background-footer{
    background-color: #263544;
    padding-bottom: 50px;
}

/*text*/

h1 {
	font-size: 104px;
	font-family: 'Raleway', sans-serif;
   /* border-bottom:3px solid #FFFFFF;*/
}


h2{
    font-family: 'Cabin', serif;
    font-size: 45px;
    color: #34495e;
    font-weight: 900;
    
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
   /* text-shadow: 0 2px 10px rgba(0, 0, 0, .6);*/
    color: #2c3e50;
    
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color:#5E84AA;
}

h5
{
    font-size: 17px;
    font-weight: 200; 
    display: inline; 
    color: #FFFFFF;
}

p {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}

/* Navbar */

/* Add a dark background color with a little bit see-through */ 
.navbar{
    margin-bottom: 0;
    background-color: rgba(45, 45, 48, 0);
    
    border: 0;
    font-size: 17px !important;
    letter-spacing: 4px;
    float: none;
    display: inline-block;
    width: 100%;
    position: absolute;

}

.navbar-nav{
    display: inline-block;
    float: none;
    text-align: center;
    vertical-align: top;
    min-height: 50px;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-brand
{
    position: absolute;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-brand
{
    position: absolute;
}

/*spacing for container*/
.container {
  padding-bottom: 50px; 
  padding-top: 35px;
 }

.jumbotron { 
    
    background-image: url('/img/basketball.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    color: #ecf0f1;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

/*line-above new section titles*/
.section-heading-spacer {
    position: absolute;
    text-align: center;
    float: none;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/* Hover Effect for Projects */
.caption__media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.caption__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
}

.caption:hover .caption__overlay {
    transform: translateY(0);
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .7);
}

/*resume button*/
.button{
    font-size: 0.95em;
    background-color: #34495e;
    border: 1px solid rgba(33,33,33,.8);
    color:#ffffff; /*rgba(33,33,33,.8);*/
    font-weight: 700;
    transition: opacity .5s;
    opacity: .8;
    padding: .7em 1.5em;
    letter-spacing: .2em;
    border-radius: 5px;
    box-shadow: 0 0.5em 1em rgba(0,0,0,.1);
}

.button:hover {
    color: #E5E5E5;
    text-decoration: none;
}

/*img effects on project images*/
#proj {

    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
#description_img{
    min-width: 100%;
    max-width: 100%;
    height: auto;
    opacity: .25;
    filter: blur(1px);
}

.modal.and.carousel {
  position: absolute; /* Needed because the carousel overrides the position property*/
  width: 100%;
}
.carousel-caption{
    color: #333;
}
.caption {
    position: relative;
    overflow: hidden;
}

.modal-dialog {
  position: relative;
  width: auto;
  max-width: 850px;
  margin: 10px;
}
.modal-sm {
  max-width: 300px;
}
.modal-lg {
  max-width: 900px;
}
@media (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
  }
}
@media (min-width: 320px) {
  .modal-sm {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 620px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
  }
  .modal-lg {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 920px){
  .modal-lg {
    margin-right: auto;
    margin-left: auto;
  }
}


/* socicons*/
@font-face {
    font-family: 'si';
    src: url('img/Socicon.eot');
    src: url('img/Socicon.eot#iefix') format('embedded-opentype'), url('img/Socicon.woff2') format('woff2'), url('img/Socicon.ttf') format('truetype'), url('img/Socicon.woff') format('woff'), url('img/Socicon.svg#Socicon') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(img/socicon.svg) format(svg);
    }
}


.soc a:hover{
    color: #89C0F7;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    
}

.soc ul{
    position: relative;
    color: RGB(128, 128, 0.05);

border-radius: 4em;
display: inline-block;
padding: 0.35em 0.75em 0.35em 0.75em;
cursor: default;
}

ul.soc li{
    display: inline-block;
}

.soc li a {
    text-align: center;
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 67px;
    font-size: 30px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
    margin-right: 15px;
    margin-left:15px;
    color: #ffffff;
    background-color: #666F77;
    
}


.soc-icon-last{
    margin:0 !important;
}

.socicon-facebook:before {
  content: "\e028";
  text-align: center;
}

.socicon-linkedin:before {
  content: "\e04c";
}
.socicon-mail:before {
  content: "\e050";
}
.socicon-github:before {
  content: "\e032";
}




